.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.logo{
  width: 90px;
}
.App-link {
  color: #61dafb;
}
.landing-page {
  background-image: url('/public/bg.jpg'); /* Replace with your e-commerce image URL */
  background-size: cover;
  background-position: center;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  overflow-y: hidden;
}

/* Overlay for text contrast */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.landing-page h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.landing-page p {
  font-size: 1.5rem;
  font-weight: 300;
}

.about-me{
  padding-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  background-color: #f1f1f1; /* Light gray background */
  text-align: center; /* Center align the text */
  padding: 3px 0; /* Vertical padding */
  position: fixed; /* Fix it to the bottom */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Ensure it spans the full width of the page */
  font-size: 17px; /* Set font size */
  color: #333; /* Dark gray text */
  border-top: 1px solid #ddd; /* Add a subtle border at the top */
}
.request{
  padding: 0px 17px 0px 17px;
}